*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
img{
    width: 100%;
    height: auto;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: antiquewhite;
}
ul{
    list-style-type: none;
}
header{
    position: fixed;
    width: 100%;
    background: #000;
    padding: 0 10px 10px 20px;
    font-family: 'Ubuntu', sans-serif;

    color: antiquewhite;
    z-index: 99;
}
.container{
    display: flex;
    justify-content: space-between;
}
.container > h1{
    padding-top: 2.5%;
    font-size: 3.5rem;
}
.container > h1:hover > a > span{
    transition: 0.5s;
    color: rgb(0, 96, 185);
}
.container > ul {
    padding-top: 2.5%;
    display: flex;
    position: absolute;
    right: 0;
}

.container > ul > li{
    margin: 15px;
    font-size: 2.5rem;
}
.container > ul > li:hover{
    transition: 0.2s;
    transform: scale(1.1);
    border-bottom: 1px solid rgb(0, 96, 185);
    cursor: pointer;
}
/* JUMBO */
#jumbo{
    background-image: url("https://media.giphy.com/media/Lny6Rw04nsOOc/giphy.gif");
    background-size: cover;
    background-position: center;
    height: 100vh;
}



/* ABOUT ME */
.container-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.padding-section{
    padding-top:120px;
}
.about-me > .container-flex{
    background-color: #081611;
    background-image: linear-gradient(#081611, rgb(0, 96, 185));
} 
    /* background-image: url("https://i.pinimg.com/originals/7a/9e/eb/7a9eeb4fa972a27c412e6a114386115b.jpg");
   background-size: cover;
*/
.container-flex > h2{
    text-align: center;
    margin-top: 10px;
    font-size: 7rem;
    font-family: 'Ubuntu', sans-serif;
    color: whitesmoke;
}

.container-flex > h2 > span{
    color: rgb(0, 96, 185);
}

.container-flex > img{
    margin: 20px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    height: 400px ;
}
.paragraph-me{
   display: flex;
    position: relative;   
    margin: 20px 0 35px 0;  
    width: 80%;
    color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    background: rgba(0, 43, 83, 0.24);
    border-radius: 10px;
    border: 2px solid whitesmoke;
}
.container-left > ul >li:first-child{
    font-size: 2rem;
    padding: 5px;
    color: rgb(194, 194, 194);
}
.container-left > ul{
    margin: 10px 0 ;
}
.container-left{
    width: 65%;
    padding: 2%;
}
.container-image{
    width: 35%;
    margin: 5px 5px 0 5px;
    
}
.container-image > img {
    border-radius: 15px ;
}




/* MY PROJECT */
.my-project{
    padding: 110px 0 50px;
    font-family: 'Ubuntu', sans-serif;
    background-image: linear-gradient(rgb(0, 96, 185), rgb(214, 214, 214), #fff);
}

.my-project > .container-flex > p{
    margin-bottom: 100px;
    font-size: 1.2rem;
    text-align: center;
    color: rgb(14, 14, 14);
}


/* slider */
.active{
    display: block;
}
.none{
    display: none;
}
.carousel{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 2.5%;
}

.opacity{
    filter: blur(3px) grayscale(70%);
    max-width: 350px;
    cursor: pointer;
}



/* FOOTER */
#section3{
    padding: 150px 0 0;
    height: 100vh;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 7rem;
    color: rgb(0, 96, 185);
    background-image: linear-gradient(#fff,#fff, rgb(0, 96, 185), #081611);
}
.cube{
    margin-top: 7.5%;
    display: flex;
    justify-content: center;
}
.cube > .wrapper{
    margin: 2.5%;
}



/* ANIMAZIONI */
/*card*/

.card{
    position: relative;
    width: 730px;
    height: 400px;
    transform-style: preserve-3d;
}
.card .face{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid rgb(14, 14, 14);
    border-radius: 10px;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: 1.5s ease-in-out;
    transform: perspective(500px) rotateY(0deg);
}
.card:hover .face.front{
    transform: perspective(500px) rotateY(180deg);
}
.card .face.back{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    background: rgb(0, 96, 185);
    transform: perspective(500px) rotateY(180deg);
}
.face.back h3{
    color: rgb(14, 14, 14);;
}
.card:hover .face.back{
    transform: perspective(500px) rotateY(360deg);
}
.card .face h2{
    font-size: 4em;
    transform: perspective(500px) translateZ(50px);
    text-transform: uppercase;
}

/* cube */
.wrapper{
    width: 200px;
    height: 200px;
    position: relative;
    left: 2.5%;
}
.box-area{
    animation:animate 10s ease-in-out infinite;
    transform-style:preserve-3d;
    transform-origin: 50px 50px 0;
}
.box-area div{
    position: absolute;
    width:150px;
    height:150px;
    line-height: 150px;
}
.box-area .box1{
    transform:translateZ(74px);
}
.box-area .box2{
    transform: rotateY(90deg) translateZ(74px);
}
.box-area .box3{
    transform: rotateY(90deg) rotateX(90deg) translateZ(74px);
}
.box-area .box4{
    transform: rotateY(180deg) rotateZ(90deg) translateZ(74px);
}
.box-area .box5{
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(74px);
}
.box-area .box6{
    transform: rotateX(-90deg) translateZ(74px);
}

@keyframes animate{
    from,to {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    33%{
         transform: rotateY(-90deg);
    }
    66%{
        transform: rotateY(-360deg) rotateX(-90deg) rotateZ(90deg);
    }
}